  /* Variables */

  :root {
    --basic-black: #000000;
    --basic-dark: #363636;
    --basic-white: #FFFFFF;
    --basic-grey-light: #E5E5E5;
    --basic-grey: #464646;
    --basic-half-grey: #7E7E7E;

    --special-grey: #F2F2F2;
    --special-grey-dark: #EAEAEA;
    --special-red: #F6DADA;
    --special-yellow: #F7E296;
    --special-yellow-dark: #F0C52E;
    --special-green: #91C92F;
    --special-yellow-light: #FFC600;
    --special-black: rgba(0, 0, 0, 0.15);
    --special-grey-light: #D9D9D9;
  }

  @font-face {
    font-family: "Gilroy";
    src: url('../fonts/gilroyextrabold.woff2') format("woff2"),
      url('../fonts/gilroyextrabold.woff') format("woff");
    font-weight: 800;
  }

  @font-face {

    font-family: "Gilroy";
    src: url('../fonts/gilroylight.woff2') format("woff2"),
      url('../fonts/gilroylight.woff') format("woff");
    font-weight: 300;
  }



  /* Global */

  body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    color: var(--basic-black);
    background-color: var(--basic-white);
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
  }

  a {
    text-decoration: none;
    color: var(--basic-black);
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .main-content h2 {
    font-family: "Gilroy", "Arial", sans-serif;
    color: var(--basic-black);
    font-size: 47px;
    font-style: normal;
    font-weight: 800;
    line-height: 58px;
    letter-spacing: 0.2em;
    margin: 0;
    padding: 0;
    padding-top: 57px;
  }

  .index-columns h2::before {
    content: '';
    position: absolute;
    width: 80px;
    height: 7px;
    top: 0;
    left: 0;
    background: var(--basic-black);
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .visually-hidden:not(:focus):not(:active),
  input[type="checkbox"].visually-hidden,
  input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }


  .page {
    height: 100%;
  }

  .page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
  }

  .container {
    width: 1160px;
    margin: 0 auto;
    padding: 0;
  }


  /* HEADER */

  .main-navigation {
    display: grid;
    grid-template-columns: 540px 1fr;
    margin: 0;
    padding: 0;
    padding-left: 60px;
    padding-right: 60px;
    align-content: start;
  }

  .main-content {
    position: relative;
  }

  .logo-device {
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-bottom: 29px;
  }

  .header-search-form {
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    opacity: 0.3;
    margin-bottom: 50px;
    position: relative;

  }

  .header-menu {
    height: 20px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    display: grid;
    grid-template-columns: 281px 137px 82px;
    grid-template-rows: 1fr;
  }

  .header-menu li {
    margin: 0;
    padding: 0;
  }

  .header-menu li:first-child {
    padding-left: 0;
  }

  .header-catalog {
    margin: 0;
    padding: 0;
  }

  .header-catalog.button-row {
    display: flex;

  }

  .header-catalog.button-row li {
    margin-right: 38px;
  }

  .header-catalog.button-row li:last-child {
    margin-left: auto;
    margin-right: 0;
  }

  .open-catalog-menu {
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .button-row {
    margin: 0;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .header-catalog li {
    display: inline;
    margin: 0;
  }

  .header-menu li {
    display: inline;
    margin: 0;
  }

  .search-form-input {
    border: none;
    background-color: transparent;
    outline: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    margin-left: 28px;
  }

  .header-search-form::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 20px;
    height: 20px;
    background-image: url('../img/search.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .popular-section {
    margin: 0;
    padding: 0;
    margin-top: 432px;
    margin-bottom: 49px;
  }

  .header-menu a {
    margin: 0;
    padding: 0;
    padding-left: 22px;
  }

  .header-menu a:hover {
    opacity: 0.6;
  }

  .header-menu a:active {
    opacity: 0.3;
  }

  .header-menu li {
    position: relative;
  }

  .header-menu-user-button a::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 4px;
    width: 13px;
    height: 14px;
    background-image: url('../img/user.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .header-menu-compare-button a::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 4px;
    width: 13px;
    height: 14px;
    background-image: url('../img/compare.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .header-menu-cart-button a::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 4px;
    width: 13px;
    height: 14px;
    background-image: url('../img/cart.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .main-header {
    font-size: 15px;
    color: var(--basic-white);
    background: linear-gradient(to bottom, transparent 0%, transparent 6%, var(--special-yellow) 6%, var(--special-yellow) 93%, transparent 93%);
    outline-offset: -5px;
    min-height: 344px;
    margin-top: 20px;
  }

  .main-header ul {
    list-style: none;
    position: relative;
  }

  .header-catalog a {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0.1em;
    font-family: "Gilroy", "Arial", sans-serif;
    text-transform: uppercase;
    list-style: none;
  }

  .header-catalog.button-row a {
    letter-spacing: 0.2em;
  }

  .catalog-menu {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 179px 125px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 61px;
    min-width: 530px;
    padding-top: 30px;
  }

  .action-camera-button {
    grid-row-start: 3;
  }

  .open-catalog-menu {
    position: relative;
  }

  .header-catalog-button a::after {
    background: url(../img/plus.svg);
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    top: 3px;
    left: 207px;
    opacity: 0.3;
  }

  .header-search-form:hover {
    opacity: 0.6;
  }

  .header-search-form:focus,
  .header-search-form:active {
    opacity: 1;
  }

  .header-menu-button:hover,
  .header-menu-button:focus {
    opacity: 0.6;
  }

  .header-menu-button:active {
    opacity: 0.3;
  }

  .logo-device:hover,
  .logo-device:focus {
    opacity: 0.6;
  }

  .logo-device:active {
    opacity: 0.3;
  }

  .header-catalog-button:hover,
  .header-catalog-button:focus {
    opacity: 0.6;
  }

  .header-catalog-button:active {
    opacity: 0.3;
  }

  .catalog-menu-button:hover,
  .catalog-menu-button:focus {
    opacity: 0.6;
  }

  .catalog-menu-button:active {
    opacity: 0.3;
  }

  .catalog-menu a {
    font-size: 15px;
    font-family: "Open Sans", "Arial", sans-serif;
    text-transform: none;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0;
  }

  .header-menu .logout-button {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 160px;
  }

  .button-logout {
    background-color: transparent;
    border: none;
    opacity: 0.3;
    outline: none;
  }

  .button-logout:hover,
  .button-logout:focus {
    opacity: 1;
  }

  .button-logout:active {
    opacity: 0.3;
  }

  /* Main */

  .main-product-slide {
    position: absolute;
    top: -170px;
    min-height: 506px;
    width: 1024px;
    left: 89px;
    display: grid;
    grid-template-columns: 511px 1fr;
    grid-template-rows: 1fr;
  }

  .main-product-slide img {
    grid-column-start: 1;
    grid-row-start: 1;
    padding-top: 17px;
  }

  .main-product-slide div {
    grid-column-start: 2;
    grid-row-start: 1;
  }

  .page-catalog {
    display: grid;
    grid-template-columns: 328px 1fr;
    grid-template-rows: 158px 70px 1fr 150px;
    margin: 0;
    padding: 0;
    align-content: start;
  }

  .main-product-name {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0;
    padding: 0;
    padding-left: 60px;
    position: relative;
  }

  .main-filter {
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 0;
    padding-left: 60px;
    display: inline;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
  }

  .main-filter div {
    display: inline;
  }

  .main-filter ul {
    display: inline;
    margin-left: 74px;
  }

  .main-filter h3 {
    display: inline;
    margin-right: 250px;
    font-family: "Gilroy", "Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  .main-filter ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }

  .main-sort button {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: var(--basic-black);
    border: none;
  }

  .main-sort li {
    display: inline;
  }

  .main-pages {
    font-family: "Gilroy", "Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    width: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }

  .main-pages a { 
    opacity: 0.6;
  }

  .slider-controls {
    position: absolute;
    right: 88px;
    top: 187px;
    z-index: 20;
    display: flex;
    width: 72px;
    justify-content: space-between;
  }

  .slider-controls button {
    padding: 0;
    width: 12px;
    height: 12px;
    background-color: transparent;
    background: url('../img/slider-button-empty.svg') no-repeat;
    background-size: contain;
    border: none;
  }

  .slider-controls .current {
    width: 12px;
    height: 12px;
    background: url('../img/slider-button.svg') no-repeat;
    background-size: contain;
    border: none;
  }

  .product-pages a {
    font-family: "Gilroy", "Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
  }

  .prev-next-page-button {
    max-width: 120px;
    margin: 0;
    padding: 0;
    max-height: 70px;
    padding: 25px 30px;
  }

  .prev-next-page-button:hover {
    background-color: var(--special-grey-light);
  }

  .prev-next-page-button:active {
    background-color: var(--special-grey-light);
    opacity: 0.5;
  }


  .main-pages .current-product-page {
    opacity: 1;
  }

  .prev-next-page-button {
    max-width: 120px;
    margin: 0;
    padding: 0;
    max-height: 70px;
    padding: 25px 30px;
  }

  .checkboxes {
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
    padding: 0;
    min-height: 800px;
    padding-left: 60px;
  }

  .product-page {
    margin: 0;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 0;
    padding-top: 74px;
    padding-left: 72px;
  }

  .product-pages {
    margin: 0;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    padding: 0;
    display: flex;
    align-self: center;
    justify-content: space-between;
    background-color: var(--basic-grey-light);
    margin-left: 72px;

  }

  .main-products {
    display: flex;
    flex-wrap: wrap;

    align-self: center;
    justify-self: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
  }

  .main-products li {
    min-height: 454px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 276px 85px;
    grid-template-rows: 410px 44px;

  }

  .main-products a {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .main-products p {
    justify-self: end;
  }

  .main-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }



  .services .services-list-buttons {
    padding: 0;
    margin: 0;
    padding-left: 140px;
    padding-top: 95px;
  }

  .breadcrumbs {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .breadcrumbs a {
    opacity: 0.3;
  }

  .breadcrumbs a:hover,
  .breadcrumbs a:focus {
    opacity: 0.6;
  }

  .breadcrumbs a:active {
    opacity: 0.1;
  }


  .breadcrumbs li {
    position: relative;
    margin-right: 40px;
  }

  .breadcrumbs li::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background: url(../img/nav-arrow.svg) no-repeat;
    top: 7px;
    right: -30px;
  }

  .breadcrumbs-current::after {
    display: none;
  }

  .product-pages li {
    display: inline;
  }

  .specifications {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 65px;
    grid-row-gap: 15px;
    margin-top: 45px;
  }

  .specifications dt {
    font-family: "Gilroy", "Arial", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
  }

  .specifications dd {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    font-style: normal;
    grid-row: 1 / 2;
    margin: 0;
  }

  .button:hover,
  .button:focus {
    background-color: var(--special-yellow-dark);
    width: 220px;
    height: 40px;
    padding: 9px 43px 9px 43px;
  }

  .button:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: var(--special-yellow-dark);
    width: 220px;
    height: 40px;
  }

  .main-filter {
    background-color: var(--basic-grey-light);
  }

  .main-product {
    background-color: var(--basic-grey-light);
  }

  .main-product p {
    font-family: "Gilroy", "Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    padding-top: 69px;
  }


  .main-products {
    background-color: var(--basic-white);
  }

  .main-products h3 {
    font-family: "Gilroy", "Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    display: flex;
    justify-self: flex-start;
    margin: 0;
  }

  .main-products p {
    padding: 0;
    margin: 0;
    font-family: "Gilroy", "Arial", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.05em;

  }

  .main-product-name h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    letter-spacing: 0;
    margin: 0;
  }

  .main-product-slide h2 {
    margin-top: 53px;
    margin-bottom: 30px;
    z-index: 3;
    position: relative;
  }

  .main-product-name .main-product-name-text {
    margin-bottom: 30px;
    padding: 0px;
  }

  .main-product-name p {
    margin: 0;
    margin-bottom: 60px;
    margin-right: 35px;
  }

  .main-product-name table {
    margin: 0;
    margin-top: 60px;
  }

  .services {
    background-color: var(--basic-grey-light);
    min-height: 403px;
    background: linear-gradient(to bottom, transparent 0%, transparent 20%, var(--basic-grey-light) 20%, var(--basic-grey-light) 100%);
  }

  .services-list {
    display: grid;
    grid-template-columns: 417px 1fr;
  }

  .service {
    grid-column-start: 2;
    padding: 0;
    margin: 0;
    padding-top: 86px;
  }

  .services-list li {
    padding-top: 30px;
  }

  .services-list-button {
    font-family: "Gilroy", "Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background: linear-gradient(to bottom, transparent 0%, transparent 40%, var(--special-yellow-dark) 40%, var(--special-yellow-dark) 60%, transparent 60%, transparent 100%);
    width: 160px;
    height: 22px;
    padding: 7px 25px 7px 24px;
  }

  .services-list-button:hover,
  .services-list-button:focus {
    width: 160px;
    height: 40px;
    padding: 9px 25px 9px 24px;
    background-color: var(--special-yellow-dark);
  }

  .services-list-button:active {
    width: 280px;
    height: 40px;
    padding: 9px 145px 9px 24px;
    background: var(--basic-black);
    color: var(--special-yellow);
  }

  .popular {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 40px;
    outline-offset: -5px;
    margin-bottom: 49px;
    font-family: "Gilroy", "Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
  }

  .popular li {
    margin-bottom: 20px;
    position: relative;
  }

  .popular svg {
    margin-bottom: 38px;
    width: 160px;
    height: 160px;
    background-color: var(--special-yellow);
  }

  .popular img:hover {
    background-color: var(--special-yellow-dark);
  }

  .popular img:active {
    background-color: var(--special-yellow-dark);
  }

  .popular a:active {
    opacity: 0.3;
  }

  .popular-vr:hover {
    background-color: var(--special-yellow-dark);
  }

  .index-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 86px;
  }


  .index-columns p {
    line-height: 28px;
  }

  .main-content .logotypes {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    margin-bottom: 90px;
    /*outline: 5px solid rgba(255, 0, 0, 0.7);*/
    outline-offset: -5px;
  }

  .about {
    width: 473px;
    /*outline: 5px solid rgba(255, 0, 0, 0.7);*/
    outline-offset: -5px;
    position: relative;
  }

  .about h2 {
    margin-bottom: 50px;
  }

  .about p {
    margin: 0;
    margin-bottom: 40px;


  }

  .index-columns .delivery-companies {
    margin-top: 20px;
    margin-bottom: 84px;
    padding-left: 24px;
    line-height: 28px;
    font-family: "Gilroy", "Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
  }


  .delivery-companies li {
    margin: 0;
    line-height: 28px;
    margin-bottom: 20px;
    list-style: circle;

  }

  .contacts {
    outline-offset: -5px;
    width: 560px;
    position: relative;
  }

  .contacts h2 {
    margin-bottom: 47px;
  }

  .contacts p {
    margin-bottom: 40px;
  }

  .contacts img {
    margin-bottom: 85px;
  }

  .button {
    font-family: "Gilroy", "Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    color: var(--basic-black);
    vertical-align: middle;
    border: none;
    background: linear-gradient(to bottom, transparent 0%, transparent 40%, var(--special-yellow-dark) 40%, var(--special-yellow-dark) 60%, transparent 60%, transparent 100%);
    width: 220px;
    height: 40px;
    padding: 9px 43px 9px 43px;

  }



  /* Filters */

  .filters {
    width: 180px;
  }

  .filter fieldset {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    border: none;
    position: relative;
  }

  .filter fieldset:first-child {
    margin-bottom: 35px;
  }

  .filter legend {
    margin-bottom: 26px;
    font-size: 24px;
    line-height: 30px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    padding-top: 14px;
  }

  .filter legend::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 2px;
    top: 0;
    left: 0;
    background: var(--basic-black);
  }

  .filter ul {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 18px;
  }

  .filter-option {
    margin-bottom: 19px;
    padding-left: 45px;
  }

  .filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
  }

  .filter-input-checkbox:hover+label,
  .filter-input-checkbox:focus+label {
    color: var(--basic-black);
  }

  .filter-input-checkbox+label::before {
    content: "";
    position: absolute;
    left: -42px;
    top: 0;
    width: 24px;
    height: 24px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .filter-input-checkbox:checked+label::after {
    content: "";
    position: absolute;
    top: 0px;
    left: -42px;
    width: 24px;
    height: 24px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .filter-input-radio+label::before {
    content: "";
    position: absolute;
    left: -42px;
    top: -1px;
    width: 16px;
    height: 16px;
    border: 2px solid var(--basic-black);
    border-radius: 50%;
  }

  .filter-input-radio:checked+label::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -36px;
    width: 8px;
    height: 8px;
    background-color: var(--basic-black);
    border-radius: 50%;
  }

  .filter-button {
    padding-right: 30px;
    padding-left: 30px;
  }


  /* Footer */

  .main-footer {
    background-color: var(--basic-dark);
    color: var(--basic-white);
    outline-offset: -5px;
    padding-top: 46px;
    padding-bottom: 64px;
  }

  .footer-container {
    display: grid;
    grid-template-columns: 1fr 423px 1fr;
    grid-template-rows: 57px 128px 34px;
    width: 1200px;
    margin: 0 auto;
    align-items: center;
    position: relative;
  }

  .footer-address::after {
    content: '';
    position: absolute;
    width: 80px;
    height: 7px;
    top: 225px;
    left: 0;
    background: var(--special-yellow-light);
  }

  .logo-device-button {
    grid-column-start: 1;
    grid-row-start: 1;
    align-self: flex-end;
    margin: 0;
    padding: 0;
  }

  .logo-device-svg {
    width: 164px;
    height: 35px;
    fill: var(--special-yellow-dark);
  }

  .svg-color-fill {
    fill: var(--special-yellow-light);

    margin-right: 11px;
  }

  .footer-address {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  .footer-nav {
    grid-column-start: 2;
    grid-row-start: 2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  .footer-social {
    grid-column-start: 2;
    grid-row-start: 3;
    justify-self: center;
    margin: 0;
    padding: 0;
    width: 136px;
    display: flex;
    justify-content: space-between;
  }

  .footer-contacts {
    margin: 0;
    width: 360px;
  }

  .footer-navigation {
    margin: 0;
    justify-self: center;
    align-self: center;
    width: 423px;
  }

  .footer-menu {
    margin: 0;
  }

  .footer-menu-buttons {
    grid-column-start: 3;
    grid-row-start: 1;
    justify-self: end;
    align-self: flex-start;
    margin: 0;
    padding: 0;
    width: 325px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .footer-user-name {
    position: absolute;
    top: 0;
    left: -200px;
  }

  .footer-menu-buttons li {
    display: inline;
  }

  .footer-tel {
    grid-column-start: 3;
    grid-row-start: 2;
    justify-self: end;
  }

  .logo-html-button {
    grid-column-start: 3;
    grid-row-start: 3;
    justify-self: end;
  }

  .footer-nav li {
    display: inline;
  }

  .footer-social li {
    display: inline;
  }

  .footer-menu li {
    display: inline;
  }

  .main-footer ul {
    list-style: none;
  }

  .main-footer address {
    font-family: "Open Sans", "Arial", sans-serif;
    text-transform: none;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0;
    color: var(--basic-white);
  }

  .footer-nav-button {
    font-family: "Gilroy", "Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--basic-white);
    vertical-align: middle;
    border: none;
  }

  .footer-nav-button:hover,
  .footer-nav-button:focus {
    opacity: 0.6;
  }

  .footer-nav-button:active {
    opacity: 0.3;
  }

  .social-button {
    opacity: 0.3;
  }

  .social-button:hover,
  .social-button:focus {
    opacity: 0.6;
  }

  .social-button:active {
    opacity: 0.1;
  }

  .footer-menu-buttons a {
    color: var(--basic-white);
    font-family: "Open Sans", "Arial", sans-serif;
    text-transform: none;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0;
  }

  .footer-menu-button {
    opacity: 0.7;
  }

  .footer-menu-button:hover,
  .footer-menu-button:focus {
    opacity: 1;
  }

  .footer-menu-button:active {
    opacity: 0.3;
  }

  .logo-html-button:hover,
  .logo-html-button:focus {
    opacity: 0.6;
  }

  .logo-html-button:active {
    opacity: 0.3;
  }

  .logo-device-button:hover,
  .logo-device-button:focus {
    opacity: 0.6;
  }

  .logo-device-button:active {
    opacity: 0.3;
  }

  .footer-tel {
    color: var(--basic-white);
  }

  .feedback-modal {
    margin: 0;
    padding: 0;
    min-height: 550px;
    width: 960px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--basic-white);
    box-shadow: 0px 10px 16px var(--special-black);
  }

  .feedback-modal-form {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    column-gap: 40px;
    
    padding: 92px 100px 69px 100px;
  }

  .feedback-modal-form label {
    display: block;
    margin-bottom: 10px;
    font-family: "Gilroy", "Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
  }

  .input-name {
    grid-row: 2 / 3;
  }

  .feedback-modal-form input:not(:last-child) {
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: var(--basic-black);
    opacity: 0.4;
    padding-top: 16px;
    padding-left: 20px;
    padding-bottom: 15px;
    background-color: var(--special-grey);
    border: none;
    outline: none;
    margin-bottom: 32px;
  }

  .feedback-modal-form input:not(:last-child):hover {
    background-color: var(--special-grey-dark);
  }

  .feedback-modal-form input:not(:last-child):focus {
    background-color: transparent;
    border: 2px solid var(--special-yellow);
    color: var(--basic-dark);
  }

  .feedback-modal-form input:invalid {
    background-color: var(--special-red);
  }

  .feedback-text:hover {
    background-color: var(--special-grey-dark);
  }

  .feedback-text:focus {
    background-color: transparent;
    border: 2px solid var(--special-yellow);
    color: var(--basic-dark);
  }

  .feedback-text {
    min-height: 167px;
    grid-column: 1 / 3;
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: var(--basic-black);
    opacity: 0.4;
    padding-top: 16px;
    padding-left: 20px;
    padding-bottom: 15px;
    background-color: var(--special-grey);
    border: none;
    outline: none;
    margin-bottom: 32px;
  }

  .feedback-text-div {
    margin-top: 32px;
    margin-bottom: 54px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
  }

  .main-product-name .slide-number {
    position: absolute;
    width: 182px;
    height: 170px;
    color: var(--basic-white);
    font-size: 179px;
    line-height: 219px;
    font-family: "Gilroy";
    font-weight: 800;
    margin: 0;
    right: 0;
    top: 0;
    z-index: 1;

  }

  .main-product-slide div {
    position: relative;
  }

  .footer-icon-color {
    fill: var(--special-yellow-dark);
  }

  .feedback-modal-close-button {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    background: url('../img/modal-close.svg');
    width: 55px;
    height: 55px;
    opacity: 0.6;
    border: none;
    outline: none;
  }

  .feedback-modal-close-button:hover {
    opacity: 1;
  }

  .feedback-modal-close-button:focus {
    opacity: 0.3;
  }

  .map-modal {
    margin: 0;
    padding: 0;
    height: 553px;
    width: 994px;
    position: absolute;
    left: 50%;
    top: 73%;
    transform: translate(-50%, -50%);
    background-color: transparent;
  }

  .map-modal-close-button {
    content: '';
    position: absolute;
    top: 29px;
    right: 36px;
    background: url('../img/modal-close.svg');
    width: 55px;
    height: 55px;
    opacity: 0.6;
    border: none;
    outline: none;
  }

  .map-modal-close-button:hover {
    opacity: 1;
  }

  .map-modal-close-button:focus {
    opacity: 0.3;
  }